* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body properties */

.contact {
    padding: 0%;
}

.sosmed {
    background-color: #222952;
    max-width: 100%;
    min-width: 50vw;
    height: 100%;
}

.message {
    background-color: #FFB61E;
    min-height: 100vh;
    min-width: 50vw;
}

.body {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: #ffffff;
    padding-top: 7rem;
}

.highlight {
    background-color: #3A4293;
    border-radius: 10px;
    padding: 0 10px;
}

p {
    color: #ffffff;
}

.sosmed .fa {
    color: #ffffff;
    font-size: 6rem;
}

.fa{
    font-size: 2rem;
}

.wrapper form{
    display: flex;
    flex-direction: column;
    padding: 3rem 6rem;
}

#sosmed {
    background-color: #519BA1;
}

.sosmed p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center; 
}

.nav-link a {
    color: #ffffff;
}

.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    /* flex-basis: 100%;
    flex: 1; */
}

.top{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.sosmed h2{
    text-align: center;
}

.bottom{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.message h2{
    text-align: center;
}

.wrapper label{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    padding-top: 1rem;
}

input[type=text] {
    border: 3px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
    padding: 5px 10px;
    color: #FFFFFF;
    font-family: Open Sans, sans-serif;
}

textarea{
    width: 100%;
    height: 150px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 3px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    color: #FFFFFF;
    font-family: Open Sans, sans-serif;
}

input[type=submit] {
    border: 3px solid #FFFFFF;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 5px 10px;
    color: #FFB61E;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


@media (max-width: 1112px){
    .sosmed, .message{
        width: 100vh;
    }
}

@media (max-width: 540px){
    .sosmed{
        width: 100vw;
    }
    
    .message{
        width: 100vw;
    }
    
}

@media (max-width: 623px){
    .sosmed{
        width: 100vw;
    }
    
    .message{
        width: 100vw;
    }
}
