/* footer properties */

.kanan {
    padding-left: 3rem;
}

.footer {
    background-color: #222952;
}

.footer p {
    color: #ffffff;
}

section {
    padding-top: 55px;
}

.left h1{
    font-family: 'Asap', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.left{
    padding-left: 8rem;
}

.right{
    float: right;
    max-width: 24rem;
}

.isi{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.uni{
    padding-top: 1rem;
}

.footer2{
    display: none;
}

@media (max-width: 1112px){
    .footer{
        display: none;
    }

    .footer2 {
        display: block;
        background-color: #222952;
    }
    
    .footer2 p {
        color: #ffffff;
    }

    .left2 h1{
        font-family: 'Asap', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .right2{
        display: flex;
        font-size: 2rem;
        justify-content: right;
        max-width: 16.5rem;
        
    }

    .left2{
        padding-left: 2rem;
    }

    .mail, .instagram, .linkedin, .behance{
        padding: 0 1rem;
    }
}

@media (max-width: 540px){
    .right2{
        display: flex;
        font-size: 1rem;
        justify-content: right;
        max-width: 12.5rem;
    }

    .left2 h1{
        font-family: 'Asap', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 30px;
        color: #FFFFFF;
    }

    .left2 p{
        color: #ffffff;
        font-size: 0.1rem;
    }

    .left2{
        padding-left: 1.5rem;
    }
    
}
