* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar-nav{
    width: 100%;
    background-color: #FFB61E;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar-toggler[type=button] {
    background: #FFB61E;
}


.navbar{
    width: 100%;
    background-color: #FFB61E;
    padding: 18 0;
    margin: 0;
}

.nav-item{
    padding: 0 46px;
}
  
.nav-item a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 1.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    justify-content: center;
}
  
a:hover {
    color: #222952;
} 
