* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #519BA1;
}

h2 {
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    text-align: center;
    color: #FFFFFF;

    padding-top: 6rem;
    padding-bottom: 1.2rem;
}

/* background properties properties */
#wrapper {
    max-width: 50rem;
    min-height: 35rem;
    min-width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #FFD46F;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    margin-bottom: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



/* form properties */
label{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #222952;   
}

input[type=text] {
    border: 3px solid #222952;
    background-color: transparent;
    color: #222952;
    font-family: Open Sans, sans-serif;
}

input[type=submit] {
    border: 3px solid #3A4293;
    border-radius: 4px;
    background-color: #3A4293;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 0.2rem 0.5rem;
}


/* bagian bawah */
h5{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #222952;

    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
}

hr{
    border-top: 3px solid #222952;
    margin: 0;
}


/* setiap konten */
#wrapper_content{
    display: block;
    margin: 0;
    background-color: #FFFFFF;
    border-radius: 5px;

    margin-top: 0.7rem;
}

.top p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #222952;

    padding-top: 0.8rem;
}

.highlight {
    background-color: #3A4293;
    border-radius: 10px;
    padding: 1px 10px;

    color: #FFFFFF;
}

.top{
    display: flex;
}

.fa-times{
    color: #222952;
}

.bottom p{
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;

    color: #222952;
    padding-bottom: 1rem
}

.content_bawah{
    margin: 0;
}

input[class=remove] {
    border: 3px solid #F8F8F8;
    border-radius: 4px;
    background-color: #F8F8F8;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #222952;
    padding: 0 0.3rem;
}


.satu, .dua, .tiga{
    display: flex;
    min-width: 5rem;
}

.btn {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
}

button[type=button] {
    background-color: #222952;
    border: 1px solid #222952;
    margin-bottom: 1rem;
}

.button{
    padding-top: 1.6rem;
    padding-left: 2.5rem;
    padding-bottom: 3rem;
}

