
/* BODY ATAS */

.home {
    background-color: #FFB61E;
}

.home h1 {
    margin-top: 10.1rem;
    font-family: 'Asap', sans-serif;
    line-height: 10.2rem;
    font-size: 8.1rem;
    padding-top: 1.8rem;
    -webkit-text-fill-color: #FFB61E;
    -webkit-text-stroke: 5px #ffffff;
}

.home h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    line-height: 4.06rem;
    color: #ffffff;
}

.home h5{
    margin-top: 12.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 2.06rem;
    color: #ffffff;
    margin-bottom: 0;
}

.fa-angle-down{
    color: #ffffff;
}


.highlight {
    background-color: #3A4293;
    border-radius: 10px;
    padding: 0 10px;
}

/* profile kebawah */

.profile{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.biodata{
    padding: 0;
}

.btn {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.biodata h1 {
    height: 61px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    font-family: 'Asap', sans-serif;
    padding-top: 1.5rem;
    padding-left: 2.5rem;
    margin-top: 5%;
}

.biodata h2 {
    height: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 1.6rem;
    padding-left: 2.5rem;
    padding-bottom: 3rem;
}

.biodata h6{
    height: 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
    padding-top: 1.6rem;
    padding-left: 2.5rem;
}

.biodata p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 450px;
    margin: 0;
    padding-top: 1.6rem;
    padding-left: 2.5rem;
}

.biodata h3{
    height: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 0;
    background: #222952;
    border: 1px solid #222952;
    border-radius: 10px;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 20px 10px;

}

.hovers{
    padding-top: 2.3rem;
    padding-left: 2.5rem;
}

.biodata h3:hover {
    background: #FFB61E;
    border: 1px solid #222952;
    color: #222952;
}

.btn {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

button[type=button] {
    background-color: #F8F8F8;
    border: 1px solid #F8F8F8;
}

.button{
    padding-top: 1.6rem;
    padding-left: 2.5rem;
    padding-bottom: 3rem;
}

/* resume */

.resume {
    background-color: #519BA1;
}

/* skills and experience properties */
.expertise{
    padding: 3rem;
}

.rowie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.expertise h2{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    font-family: 'Asap', sans-serif;
    color: #ffffff;
}

.expertise p {
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #ffffff;
    max-width: 339px;
}

.expertise h3 {
    font-style: normal;
    font-size: 22px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #ffffff;
    max-width: 339px;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.contents {
    max-width: 487px;
}

.progress {
    max-width: 108px;
}

.experience h2{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    font-family: 'Asap', sans-serif;
    color: #ffffff;
}

.skills h2{
    height: 61px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    font-family: 'Asap', sans-serif;
    color: #ffffff;
}

.experience p {
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #ffffff;
    max-width: 339px;
}

.skills p {
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #ffffff;
}

/* timeline */

.experience{
    padding: 3rem;
}

.experience h2{
    padding-left: 1rem;
}

.timeline p{
    margin: 0;
    margin-left: 2rem;
    padding-top: 0.5rem;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #ffffff;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: #ffffff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.sosmed {
    display: none;
}

/* DISPLAY TERBESAR */
@media (min-width: 962px){
    .photo img{
        max-width: 100%;
        height: auto;
        background-color: #00B47F;
    }
}

/* DISPLAY KEDUA TERBESAR */
@media (max-width: 961px){
    .row{
        display: flex;
        flex: row;
        width: 100vw;
    }
    .column{
        width: 100vw;
    }
    .photo img{
        width: 100vw;
        background-color: #00B47F;
    }
    .profile{
        width: 100vw;
    }

    .home h1 {
        margin-top: 8.1rem;
        font-family: 'Asap', sans-serif;
        line-height: 10.2rem;
        font-size: 7.1rem;
        padding-top: 1.8rem;
        -webkit-text-fill-color: #FFB61E;
        -webkit-text-stroke: 5px #ffffff;
    }

    .home h5{
        margin-top: 12.5rem;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
        line-height: 2.06rem;
        color: #ffffff;
        margin-bottom: 0;
    }
}

/* DISPLAY I-PAD TERBESAR */
@media (max-width: 655px){
    .home h1 {
        margin-top: 5.1rem;
        font-family: 'Asap', sans-serif;
        line-height: 10.2rem;
        font-size: 6.1rem;
        padding-top: 1.8rem;
        -webkit-text-fill-color: #FFB61E;
        -webkit-text-stroke: 5px #ffffff;
    }

    .home h2{
        font-family: 'Open Sans', sans-serif;
        font-size: 2rem;
        line-height: 4.06rem;
        color: #ffffff;
    }

    .home h5{
        margin-top: 4.5rem;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 1.06rem;
        color: #ffffff;
        margin-bottom: 0;
    }

}

/* DISPLAY UNTUK SOSMED */
@media (min-width: 1120px){
    .sosmed {
        display: block;
        position: fixed;
        right: 1%;
        bottom: 15%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    } 
    
    .sosmed a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: #222952;
        font-size: 1.7rem;
    }
}

/* DISPLAY HANDPHONE */
@media (max-width: 430px){
    .home h1 {
        margin-top: 5.1rem;
        font-family: 'Asap', sans-serif;
        line-height: 4.2rem;
        font-size: 4.1rem;
        padding-top: 1.8rem;
        -webkit-text-fill-color: #FFB61E;
        -webkit-text-stroke: 3px #ffffff;
    }

    .home h2{
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 4.06rem;
        color: #ffffff;
    }
}

@media (max-width: 950px){
    .biodata h1 {
        height: 61px;
        font-style: normal;
        font-weight: bold;
        font-size: 3.5rem;
        line-height: 61px;
        font-family: 'Asap', sans-serif;
        padding-top: 1.5rem;
        padding-left: 2.5rem;
        margin-top: 5%;
    }
    
    .button{
        padding-top: 1.6rem;
        padding-left: 2.5rem;
        padding-bottom: 4rem;
    }

    .biodata p {
        max-width: 90%;
    }
    
}

@media (max-width: 510px){
    .biodata p {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        padding-top: 1.6rem;
        padding-left: 2rem;
    }

    .biodata h1 {
        height: 61px;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 61px;
        font-family: 'Asap', sans-serif;
        padding-top: 1.5rem;
        padding-left: 2rem;
        margin-top: 5%;
    }
    
    .biodata h2 {
        height: 44px;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        margin: 0;
        margin-bottom: 20px;
        padding-top: 1.6rem;
        padding-left: 2rem;
        padding-bottom: 3rem;
    }
    
    .biodata h6{
        height: 27px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        margin: 0;
        padding-top: 1.6rem;
        padding-left: 2rem;
    }
    
    .hovers{
        padding-top: 2.3rem;
        padding-left: 2rem;
    }
    
    .button{
        padding-top: 1.6rem;
        padding-left: 2rem;
        padding-bottom: 3rem;
    }
}

