{% load static from staticfiles %}

<!doctype html>
<html lang="en">
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Custom styles for this template -->
    <link rel='stylesheet' href="{% static 'css/font-awsome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'contact.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}"> 
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <!-- Custom styles for this template -->
    <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">

    <title>astrida nayla. - contact</title>
    
  </head>

  <body>

    {% include 'navbar.html' %}

    <section id="contact">

            <div class='profile'>
                    <div class='row no-gutters' style="margin: 0;">
                        <div class='col-md-6 no-gutters'>

                            <div class="sosmed">
                                
                                    <h2><span class="highlight" id="sosmed">my social media</span></h2>
                        
                                    <div class="top">
                                        <div class="behance">
                                            <a class="btn btn-social-icon btn-behance" href="https://www.behance.net/astridanayla"> 
                                                <span class="fa fa-behance"></span>
                                            </a>
                                            <p>Behance</p>
                                        </div> <!-- behance -->
            
                                        <div class="mail">
                                            <a class="btn btn-social-icon btn-google" href="mailto:astridanayla2@gmail.com">
                                                <span class="fa fa-google"></span>
                                            </a>
                                            <p>E-mail</p>
                                        </div> <!-- mail -->
                                    </div> <!-- top -->

                                    <div class="bottom">
                                            <div class="instagram">
                                                <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/astridanayla/">
                                                    <span class="fa fa-instagram"></span>
                                                </a>
                                                <p>Instagram</p>
                                            </div> <!-- instagram -->
                
                                            <div class="linkedin">
                                                <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/astrida-nayla-fauzia/">
                                                    <span class="fa fa-linkedin"></span>
                                                </a>
                                                <p>LinkedIn</p>
                                            </div> <!-- linkedin -->
                                    </div> <!-- bottom -->
            
                            </div> <!-- sosmed -->

                        </div>

                        <div class='col-md-6 no-gutters'>

                                <div class='message'>
                       
                                        <h2><span class="highlight">send me a message!</span></h2>
                
                                        <div class="wrapper">
                                            <form action="action_page.php">
                                              
                                                <label for="fname">FULL NAME</label>
                                                <input type="text" id="fname" name="firstname" placeholder="">
                                                
                                                <label for="lname">E-MAIL</label>
                                                <input type="text" id="lname" name="lastname" placeholder="">
                                                
                                                <label for="subject">MESSAGE</label>
                                                <textarea id="subject" name="subject" placeholder="" style="height:200px"></textarea>
                                                
                                                <input class="submit" type="submit" value="SUBMIT">
                                              
                                            </form>
                                        </div> <!-- wrapper -->
                                        
                                </div> <!-- message -->

                        </div>
                    </div>
            </div>

    </section> <!-- section -->
    

    {% include 'footer.html' %}

    <!-- Optional JavaScript -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>

  </body>

</html>
