    <div class="footer">
        <div class="isi d-flex bd-highlight">
            <div class="left flex-fill bd-highlight text-left">

              <h1></span>astrida nayla.</h1>
              <p>A portfolio site</p>
              <p>© 2019 All rights served</p>

            </div>
  
            <div class="right flex-fill bd-highlight text-left">
  
              <p>Fakultas Ilmu Komputer UI 2019</p>
        
              <div class = "uni">
                  <p><strong>University of Indonesia</strong></p>
                  <p><i>Depok, Indonesia</i></p>
              </div>
              
            </div>
        </div>
    </div> 


    <div class="footer2">
        <div class="isi d-flex bd-highlight">
            <div class="left2 flex-fill bd-highlight text-left">

              <h1></span>astrida nayla.</h1>
              <p>© 2019 All rights served</p>

            </div>
  
            <div class="right2 flex-fill bd-highlight text-left">
  
              <div class="behance">
                  <a class="fa fa-behance" href="https://www.behance.net/astridanayla"></a>
              </div> <!-- behance -->

              <div class="mail">
                  <a class="fa fa-google" href="mailto:astridanayla2@gmail.com"></a>
              </div> <!-- mail -->

              <div class="instagram">
                  <a class="fa fa-instagram" href="https://www.instagram.com/astridanayla/"></a>
              </div> <!-- instagram -->

              <div class="linkedin">
                  <a class="fa fa-linkedin" href="https://www.linkedin.com/in/astrida-nayla-fauzia/"></a>
              </div> <!-- linkedin -->
              
            </div>
        </div>
    </div>