
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="color: #ffffff" id="mainNav">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" >
                <li class="nav-item" style="color: #ffffff">
                    <a class="nav-link js-scroll-trigger" style="color: #ffffff" href="{% url 'main' %}">Home</a>
                </li>
                <li class="nav-item" style="color: #ffffff">
                    <a class="nav-link js-scroll-trigger" style="color: #ffffff" href="{% url 'main' %}#profile">Profile</a>
                </li>
                <li class="nav-item" style="color: #ffffff">
                    <a class="nav-link js-scroll-trigger" style="color: #ffffff" href="{% url 'main' %}#resume">Resume</a> 
                </li>
                <li class="nav-item" style="color: #ffffff">
                    <a class="nav-link js-scroll-trigger" style="color: #ffffff" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item" style="color: #ffffff">
                    <a class="nav-link js-scroll-trigger" style="color: #ffffff" href="{% url 'schedule' %}">Schedule</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 