{% load static from staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href="{% static 'css/font-awsome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'schedule.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <!-- Custom styles for this template -->
    <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">

 
    <title>astrida nayla. - Schedule</title>
</head>

<body>

    {% include 'navbar.html' %}

    <h2>WEEKLY ACTIVITIES</h2>

    <div class="container-fluid" id="wrapper">

            <div class="atas">
                <form action="." method="POST">
                    {% csrf_token %}

                    {{form.as_p}}
                                              
                    <!-- <label for="date">Date</label>
                    <input type="text" id="date" name="activitydate" placeholder="">
                        
                    <label for="time">Time</label>
                    <input type="text" id="time" name="activitytime" placeholder="">

                    <label for="location">Location</label>
                    <input type="text" id="location" name="activitylocation" placeholder="">
                            
                    <label for="subject">MESSAGE</label>
                    <textarea id="subject" name="subject" placeholder="" style="height:200px"></textarea> -->

                    <input type="submit" class="submit" value="Add Entry">
                          
                </form>
            </div>
            
            <div class="bawah">
                <h5>ALL ENTRIES</h5>
                <hr>

                {% for object in activities %}

                <div class="container-fluid" id="wrapper_content">
                    <div class='top'>
                        <p class="content_atas">
                            <span class="highlight">{{ object.date|date:"l" }}.</span> | {{object.date}} | {{object.time}} | location : {{object.location}} | <u>category: {{object.category}}</u>
                        </p>
                    </div>

                    <div class='bottom'>
                        <p class="content_bawah">
                            {{object.activity}}
                        </p>
                        <a href="{% url 'remove_schedule' id=object.id %}">
                            <button type="button" class="btn btn-primary">Remove</button>
                        </a>
                    </div>
                </div>

                {% endfor %}

            </div>


    </div>

    {% include 'footer.html' %}

    <!-- Optional JavaScript -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>

</body>

</html>