{% load static from staticfiles %}

<!doctype html>
<html lang="en">
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href="{% static 'css/font-awsome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'utama.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}"> 
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <!-- Custom styles for this template -->
    <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">
 
    <title>astrida nayla.</title>
  </head>

  <body>

    {% include 'navbar.html' %}

    <!---->

    <section id="home">

      <div class="home">
        <div class="position-relative overflow-hidden text-center">
            <div class="mx-auto my-5">
              <h1 class="display-4 font-weight-bold">ASTRIDA NAYLA</h1>
              <h2>a <span class="highlight">visual portfolio</span> site.</h2>
              <h5>scroll down</h5>
              <i class="fa fa-angle-down" style="font-size:48px;"></i>
            </div>
        </div>
      </div>

      <div class="sosmed">
          <a class="fa fa-instagram" href="https://www.instagram.com/astridanayla/"></a>

          <a class="fa fa-linkedin" href="https://www.linkedin.com/in/astrida-nayla-fauzia/"></a>
      
          <a class="fa fa-behance" href="https://www.behance.net/astridanayla"></a>
      
          <a class="fa fa-google" href="mailto:astridanayla2@gmail.com"></a>
      </div>

    </section> 

    <!---->

    <section id="profile">

        <div class='profile'>
            <div class='row' style="margin: 0;">
                <div class='column'>
                    <div class='photo'>
                        <img src="{% static 'dua.png' %}">
                    </div>
                </div>
                <div class='column'>
                    <div class='biodata'>
                        <h1>ASTRIDA NAYLA</h1>
                        <h2>1806235826</h2>
                              
                        <h6>INSTITUTE</h6>
                        <p>University of Indonesia (2018 - present)
                        <br><i>Bachelor of Computer Science</i></p>
                              
                        <h6>HOBIES & INTEREST</h6>
                        <div class="hovers">
                            <h3>Design</h3>
                            <h3>Reading</h3>
                            <h3>Story writing</h3>
                            <h3>Associating</h3>
                        </div>
                              
                        <h6>DESCRIPTION</h6>
                        <p>A computer science student with keen interest in learning the tech and media world. 
                            Have a high interest to work in a subject that requires creative and analytical thinking.</p>
                      
                        <div class="button">    
                            <button type="button" class="btn btn-primary" onclick="window.location.href = 'https://issuu.com/astridanayla/docs/cv_astridanayla-compressed';">View full resume</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!---->
   
    <section id="resume">

        <div class='resume'>
            <div class='row flex-column flex-md-row' style="margin: 0;max-width: 944px;margin: auto;">
          
                <div class='column'>
                    <div class="experience">

                        <h2>WORK EXPERIENCE</h2>
                        <ul class="timeline">
                            <li>
                                <p>2015 - 2016</p>
                                <p><strong>Driver Market Intern</strong></p>
                                <p><i>Uber Technologies Inc.</i></p>
                                <p id="desc">Responsible for marketing Uber rideshare to potential driver suppliers.</p>
                            </li>
    
                            <li>
                                <p>2019 - present</p>
                                <p><strong>Staff of Design</strong></p>
                                <p><i>Compfest 11</i></p>
                                <p id="desc">Responsible for all the displays of COMPFEST including website UI/UX.</p>            
                            </li>
    
                            <li>
                                <p>2019 - 2019</p>
                                <p><strong>UI Designer Intern</strong></p>
                                <p><i>Akaraya Creative</i></p>
                                <p id="desc">Responsible for the User Interface design of apps and websites from client.</p>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class='column'>
                    <div class='expertise'>

                      <div class="h2bawah">
                          <h2>SKILLS & EXPERTISE</h2>
                      </div>
                            
                            <h3><strong>SKILLS</strong></h3>
                          
                            <div class="atas">
                                    <div class='rowie'>
                                        <div class='col1'>
                                            
                                            <div class="kiri">
                          
                                                <p>Illustrator</p>
                                                <p>Photoshop</p>
                                                <p>Java</p>
                                                <p>Python</p>
                                                      
                                            </div>

                                        </div>

                                        <div class='col2'>
                                            <div class="kanan">
                                      
                                                <p>MS Office</p>
                                                <p>HTML</p>
                                                <p>CSS</p>
                                                      
                                            </div>
                
                                        </div>
                                    </div>
                            </div>
                                      
                            <div class="bawah">
                              <h3><strong>EXPERTISE</strong></h3>
                              <p>Graphic Design</p>
                              <p>Programming</p>
                              <p>Managing Human Resources</p>
                              <p>Project Management</p>
                              <p>English Speaking</p>
                            </div>
                    
                  </div>
            </div>
    </section> 

    <!---->

    {% include 'footer.html' %}

    <!-- Optional JavaScript -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>

  </body>

</html>